.perfil {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 30px 30px 30px;
}
.avatar {
  margin: 0 auto;
  border-radius: 50%;
  object-fit: contain;
}
.informacion {
  text-align: center;
  padding: 20px 0;
}
.informacion h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.informacion a {
  margin: 0 auto;
  font-size: 20px;
  word-break: break-all;
}
.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
  -webkit-column-gap: 20px;
  -webkit-column-gap: 20px;
  margin: 20px 0;
}
.verificado {
  display: flex;
  align-items: center;
}
.verificado svg {
  margin-right: 4px;
}
.telefono span {
  font-size: 15px;
  color: var(--gris-3);
}
.botones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
  -webkit-column-gap: 20px;
  -webkit-column-gap: 20px;
  margin-top: 40px;
}
